.main {
  height: 350vh;
  width: 100%;
  background-color: 0F2167;
}

.navbar {
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.logo img {
  width: 65px;
  height: 60px;
  margin-left: 150px;
}
.navcomp {
  display: flex;
  justify-content: center;
  width: 70%;
  gap: 80px;
  align-items: center;
}
.navcomp a {
  color: white;
  list-style: none;
  text-decoration: none;
}
.navcomp a:hover {
  color: 4CB9E7;
}
.a5 {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 23%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  padding: 10px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
}
.a5 a {
  color: white;
}
.a5 a:hover {
  color: white;
}
.a5:hover {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 61%
  );
  padding: 10px;
  width: 90px;
}
.head {
  margin: 130px 150px;
}
.head h3 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: B6C4B6;
}
.head h1 {
  font-size: 5.9rem;
  margin: auto;
  color: white;
}
.head button {
  margin: 30px 0px;
  padding: 15px;
  width: 25%;
  border: 0px;
  border-radius: 10px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 23%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  color: white;
}
.head button:hover {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 61%
  );
  cursor: pointer;
}
.about {
  height: 20%;
  margin-left: 150px;
  display: flex;
  margin-right: 80px;
}
.image {
  height:100%;
  width: 50%;
  background-image: url("myimage.jpeg");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 3px 3px 10px skyblue;     

}

.abouttext {
  height: 10%;
  width: 80%;
}
.abouttext h3 {
  font-size: 2.4rem;
  color: white;
  text-decoration: underline;
  text-align: center;
}
.abouttext p {
  margin-left: 20px;
  color: B6C4B6;
  font-size: 1.5rem;
}
.button2 {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.button2 button {
  margin: 20px 0px;
  padding: 15px;
  width: 25%;
  border: 0px;
  border-radius: 10px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 23%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  color: white;
}
.button2 button:hover {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 61%
  );
  cursor: pointer;
}
.project {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  text-decoration: underline;
  color: white;
  color: B6C4B6;
}
.projectcont {
  height: 15%;
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
  margin-right: 80px;
  gap: 20px;
}
.proimage1 {
  height: 80%;
  width: 60%;
  display: flex;

  position: relative;
}

.first {
  border: 10px solid skyblue;
  border-radius: 10px;
  height: 100%;
  width: 80%;
  margin-top: 30px;
  position: absolute;
}
.second {
  position: absolute;
  height: 100%;
}
.second img {
  height: 100%;
  width: 90%;
  float: right;
  border-radius: 10px;
}

.procont1 {
  height: 100%;
  width: 80%;
}

.procont1 h2 {
  color: rgb(0, 212, 255);
  font-size: 2rem;
}
.procont1 h3 {
  color: white;
  font-size: 2rem;
}
.procont1 p {
  color: B6C4B6;
  margin: auto;
}
.viewbutton {
  width: 100%;

  margin-top: 40px;
}
.viewbutton button {
  font-size: 1.3rem;
  padding: 10px;
  width: 20%;
  border: 0px;
  border-radius: 10px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 23%,
    rgba(9, 9, 121, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  color: white;
}
.viewbutton button:hover {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 61%
  );
  cursor: pointer;
}
.projectcont2{
    height: 15%;
    margin-left: 150px;
    margin-top: 10%;
    display: flex;
    margin-right: 80px;
    gap: 50px;

}
.procont2{
    height: 100%;
    width: 80%;
    
}
.procont2 h2{
    color: rgb(0, 212, 255);
    font-size: 2rem;
}
.procont2 h3{
    color: white;
    font-size: 2rem;

}
.procont2 p {
    color: B6C4B6;
    margin: auto;
  }

.proimage2 {
    height: 90%;
    width: 60%;
    display: flex;

    position: relative;
  }
  .first2 {
    border: 10px solid skyblue;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    margin-top: 30px;
    position: absolute;
    margin-left: 30px;
  }
  .second2 {
    position: absolute;
    height: 90%;
  }
  .second2 img {
    height: 100%;
    width: 90%;
    float: left;
    border-radius: 10px;
  }
  .viewbutton2 {
    width: 100%;
  
    margin-top: 40px;
  }
  .viewbutton2 button {
    font-size: 1.3rem;
    padding: 10px;
    width: 20%;
    border: 0px;
    border-radius: 10px;
    background: rgb(0, 212, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 1) 23%,
      rgba(9, 9, 121, 1) 100%,
      rgba(2, 0, 36, 1) 100%
    );
    color: white;
  }
  .viewbutton2 button:hover {
    background: rgb(9, 9, 121);
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(0, 212, 255, 1) 61%
    );
    cursor: pointer;
  }
  .service{
    background-color: 0F2167;
    width: 100%;
    height: 300vh;

}
  .servicehead{

    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: B6C4B6;
    font-size: 1.4rem;
  }
  .sec1{

    height: 16%;
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap:70px;
    margin-right: 80px; 

}
.col1{
    height: 100%;
    width: 40%;
    box-shadow: 3px 3px 10px skyblue;     

}
.col1 img{
    height: 40px;
    width: 50px;
    margin-right: 20px;
}
.col1head{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    margin: auto;
    
}
.col1 p{
    margin-top: 0px;
    color: B6C4B6;
    text-align: center;
}
.col2{
    height: 100%;
    width: 40%;
    box-shadow: 3px 3px 10px skyblue;     
}

.col2 img{
    height: 40px;
    width: 50px;
    margin-right: 20px;
}
.col2head{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    margin: auto;
    
}
.col2 p{
    color: B6C4B6;
    text-align: center;
    margin-top: 0px;
}
.col1button1 {
    width: 100%;
  display: flex;
  justify-content: center;
}
.col1button1 button{
    font-size: 1.0rem;
    padding: 8px;
    width: 30%;
    border: 0px;
    border-radius: 10px;
    background: rgb(0, 212, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 1) 23%,
      rgba(9, 9, 121, 1) 100%,
      rgba(2, 0, 36, 1) 100%
    );
    color: white;
}
.col1button1 button:hover{
    background: rgb(9, 9, 121);
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(0, 212, 255, 1) 61%
    );
    cursor: pointer;
}
.col2button2 {
    width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.col2button2 button{
    font-size: 0.9rem;
    padding: 8px;
    width: 30%;
    border: 0px;
    border-radius: 10px;
    background: rgb(0, 212, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 1) 23%,
      rgba(9, 9, 121, 1) 100%,
      rgba(2, 0, 36, 1) 100%
    );
    color: white;
}
.col2button2 button:hover{
    background: rgb(9, 9, 121);
    background: linear-gradient(
      90deg,
      rgba(9, 9, 121, 1) 0%,
      rgba(0, 212, 255, 1) 61%
    );
    cursor: pointer;
}
.exp{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: B6C4B6;
    font-size: 1.4rem;
    margin-top: 10%;
}


.exp1{
    margin-top: 40px;
    height: 9%;
    margin-left: 150px;
    margin-right: 80px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.icon1{
    height: 100%;
    width: 12%;
}
.icon1 img{
    height: 60%;
    width: 100%;
}
.icon1 p{
    text-align: center;
    color: white;
}
.icon2{
    height: 100%;
    width: 12%;
}
.icon2 img{
    height: 60%;
    width: 100%;
}
.icon2 p{
    text-align: center;
    color: white;
}
.icon3{

    height: 100%;
    width: 12%;
}
.icon3 img{
    height: 60%;
    width: 100%;
}
.icon3 p{
    text-align: center;
    color: white;
}
.icon4{
    height: 100%;
    width: 12%;
}
.icon4 img{
    height: 60%;
    width: 100%;
}
.icon4 p{
    text-align: center;
    color: white;
}
.exp2{
    margin-top: 50px;
    height: 9%;
    margin-left: 150px;
    margin-right: 80px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}
.icon5{
    height: 100%;
    width: 12%;
}
.icon5 img{
    height: 60%;
    width: 100%;
}
.icon5 p{
    text-align: center;
    color: white;
}
.icon6{

    height: 100%;
    width: 12%;
}
.icon6 img{
    height: 60%;
    width: 100%;
}
.icon6 p{
    text-align: center;
    color: white;
}
.icon7{
    height: 100%;
    width: 12%;
}
.icon7 img{
    height: 60%;
    width: 100%;
}
.icon7 p{
    text-align: center;
    color: white;
}
.contactbox{
    margin-top: 10%;
    height: 30%;
    border: 1px solid red;
    width: 100%;
    background: rgb(7,45,145);
    background: rgb(7,45,145);
    background: rgb(7,45,145);
    background: linear-gradient(90deg, rgba(7,45,145,1) 0%, rgba(26,245,238,1) 100%);
    border-radius: 100px 100px 0px 0px; 
    
}
.conhead{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem ;
}
.contbox{
    display: flex;
    justify-content: space-around;
   
    height: 90%;
    
}
.details{
height: 80%;
width: 40%;
border:  1px solid red;
color: white;
}
.forms{
    height: 80%;
    width: 40%;
    border: 1px solid red;
}

.details h2{
    font-size: 1.7rem;
    margin-top: 10%;
}
.details p{
    margin-top: 5px;
    color: B6C4B6;
    font-size: 1.0rem;
}
.phone{
    display: flex;
    gap: 15px;

}
.phoneimg img{
    height: 20px;
    width: 20px;
}
.email{
    display: flex;
    gap: 15px;

}
.emailimg img{
    height: 20px;
    width: 20px;
}
.address{
    display: flex;
    gap: 15px;

}
.addressimg img{
    height: 20px;
    width: 20px;
}